APP_NAME=NIX
APP_KEY=
APP_URL=localhost
APP_PATH=
APP_DEBUG=true

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=
DB_USER=
DB_PASSWORD=

DATE_TIMEZONE=Asia/Jakarta

ACCESS_CONTROL_ALLOW_ORIGIN=*
ACCESS_CONTROL_ALLOW_METHODS=GET,POST,DELETE,OPTIONS
ACCESS_CONTROL_ALLOW_HEADERS=*

TELEGRAM_TOKEN=
